{% extends "base.html"%}
{% block head%}
    {{super()}}
    <link rel="stylesheet" href="/static/blog.css" />
    <script type="text/javascript" src="/static/register.js"></script>
{%endblock%}
{% block content %}
<button type="button" id="writeblog" onclick="writeablog()" class="btn btn-primary">
  写博客
</button>

<div class="blog_container">
    {% for blog in blogs%}
    <div class="blog_itmes">
        <a class="blog_title" href="/blog/myblog/{{blog.id}}">{{blog.title}}</a>
        <p class="blog_info">
            时间：{{blog.create_time}}
            <a href="/blog/delete/{{blog.id}}">删除</a>
        </p>
    </div>

    {% endfor %}
</div>
{% endblock %}
