/*登录页面*/
#main{
    margin: auto;
    width: 95%;
    height: 100%;
}
.login{
    margin: auto;
    width: 20%;
    padding: 10px;
    background-color: lightskyblue;
}
.login_button{
    text-align: center;
}
/*注册页面*/

.register{
    margin-top: 5%;
    margin-left: 10%;
    width: 400px;
    text-align: left;
    padding: 10px;
    background-color: lightskyblue;
}
.button_register{
    width: 400px;
}

/*导航条*/
.navbar{
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*鼠标移动到选项上修改背景颜色 */
.navbar li a:hover {
    background-color: #111;
}
.nav_login{
    float: right;
}



#footer{
    width: 100%;
    height: 30px;
    text-align: center;
    margin: 2px;
    background-color: #333;
    text-align: center;
    color: #BFDDE0;
}


#content{
    width: 100%;
    height: 100%;
}
