<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block head %}
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css" />
    <title>{% block title %}{% endblock %} {{ title }}</title>
    <script type="text/javascript" src="/static/scripts.js"> </script>
    <script type="text/javascript" src="/static/bootstrap/js/dropdown.js"> </script>
    {% endblock %}
</head>
<body>
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" onclick="dismiss('alert')">&times;</button>
        {{message}}
    </div>
    {% endfor %}
    <div class="navbar">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/blog">博客广场</a></li>
            <li><a href="/blog/myblog">我的博客</a></li>
            {% if current_user.admin%}
            <li><a href="/admin">后台管理</a></li>
            {% endif %}

            <div class="nav_login">
                {% if current_user.is_authenticated%}
                <li><a href="">{{current_user.username}}</a></li>
                <li><a href="/logout">登出</a></li>
                {% else %}
                <li><a href="/login">登录</a></li>
                {% endif %}
            </div>
        </ul>
    </div>

    <div id="content">
        {% block content%}
        <div class="jumbotron">
            <h1>Hello, {{current_user.username}}</h1>
            <p>欢迎来到博客世界</p>
            {% if current_user.is_authenticated%}
            <p><a class="btn btn-primary btn-lg" href="/blog/newblog" role="button">写博客</a></p>
            {% else %}
            <p><a class="btn btn-primary btn-lg" href="/login" role="button">登录</a></p>
            {% endif%}
        </div>
        {% endblock %}
    </div>

</div>
</body>
</html>